.home{
    background-color: var(--color--gris-claro);
}
/*---------- Header ----------*/

.home header{
  
    background-color: var(--color-amarillo);
    padding-bottom: 1em ;
}
.home header img{
    width: 120px;
    margin: 4% 5px 0 3%;
}
.home header div{
    padding: 18px;
}
.home header p{
    text-align: center;
       
}
.home header ul{
    padding: 10px 0;
}
.home header a{
    color: #000;   
}
.home header nav{
    margin-bottom: 16px;
    display: none;
}
.home header .burger{
    text-align: center;
}
.home header .burger-menu{
    width: 40px;
    height: 40px;
   color: #ffffff ;
   background-color: var(--color--celeste);
   border-radius: 4px;
   border: none;
}
.home .burger-menu i{
    font-size: 24px;
}
/*---------- banner ----------*/

.home .banner{
    width: 100%;
}

/*---------- main ----------*/
.home main {
    width: 90%;
    margin-left: 5%;
}
.home main .products-img{
    width: 100%;
}
.home main article{
    margin-bottom: 10px ;
}

.home main .descripcion{
    margin-top: solid 1px var(--color--gris-claro);
    padding: 15px;
    background-color: #ffff;
}
.home main .fa-truck{
    font-size: 16px;
    color: var(--color-verde);
}
.home main h4{
 font-size: 24px;
 color: var(--color--gris-oscuro);
}
.home main .precio{
    font-size: 18px;
}
.home main p{
    font-size: 16px;
}
.home main .descuento{
    color: var(--color-verde);
}
.home main h5{
   font-size: 16px;
   color: var(--color--gris-oscuro);
   font-weight: normal;
   margin-top: 20px;
   display: none;
}

/*---------- footer ----------*/
.home footer {
   text-align: center;
   
   background-color: #ffff;
   padding: 20px;
}
.home footer article{
    margin: 10%  ;
}
.home footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color--celeste);
}
.home footer h4{
    color: var(--color--gris-oscuro);
    font-weight: 600;
    font-size: 16px;
}
.home footer p{
    font-size: 11px;
    color: var(--color--gris-oscuro);
    
}
.home .copy{

 text-align: left;
 


}
 /*----------- media querys ---------*/

     /*--Tablet*--*/
   
@media (min-width:361px) {
     /*---Header---*/
     .home header nav{
      display: block;
    }
    .home header .burger-menu{
        
       display:none;
    }

    /*---main---*/
    .home main h5{ 
        display: block;
     }
     .home main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width:769px) {
    
}