.home{
    background-color: var(--color--gris-claro);
}
/*---------- Header ----------*/

.home header{
  
    background-color: var(--color-amarillo);
    padding-bottom: 1em ;
}
.home header .contenedor-logo-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    
}
.home header .contenedor-tablet{
    width: 49%;
}
.home header img{
    width: 100%;
}
.home header .contenedor-logo-search .Buscar-barra{

  display: flex;
}
.home header .contenedor-logo-search form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.home header .contenedor-logo-search .Buscar-barra input{
    border: none;
    border-radius: 7px;
    position: relative;
    height: 100%;
}
.home header .contenedor-logo-search .Buscar-barra button{
    background-color: #FFF;
    border: none;
    position: absolute;
}
.home header .contenedor-logo-search .Buscar-barra i{   
    font-size: 16px;
    color: gray;
}
.home header p{
      padding: 10px;
}
.home header ul{
    padding: 10px 0;
}
.home header a{
    color: #000;   
}
.home header nav{
    margin-bottom: 16px;
    display: none;
}
.home header .burger{
    text-align: center;
}
.home header .burger-menu{
    width: 40px;
    height: 40px;
   color: #ffffff ;
   background-color: var(--color--celeste);
   border-radius: 4px;
   border: none;
}
.home .burger-menu i{
    font-size: 24px;
}
/*---------- banner ----------*/

.home .banner{
    width: 100%;
}

/*---------- main ----------*/
.home main {
    width: 90%;
    margin-left: 5%;
}
.home main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home main .products-img{
    width: 100%;
}
.home main article{
    margin-bottom: 10px ;
    position: relative;
    height: 354.69px;
    width: 290.69px;
    
}

.home main .descripcion{
    margin-top: solid 1px var(--color--gris-claro);
    padding: 15px;
    background-color: #ffff;
}
.home main .fa-truck{
    color: var(--color-verde);
}
.home main section div.descripcion i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 275px;
  
}
.home main .descripcion .precios{
    display: flex;
}
.home main h4{
 font-size: 24px;
 color: var(--color--gris-oscuro);
 padding: 10px;
}
.home main .precio{
    font-size: 18px;
}
.home main p{
    font-size: 16px;
}
.home main .descuento{
    color: var(--color-verde);
    margin-left: 10px;
}
.home main h5{
   font-size: 16px;
   color: var(--color--gris-oscuro);
   font-weight: normal;
   margin-top: 20px;
   display: none;
}


/*---------- footer ----------*/
.home footer {
   text-align: center;
   
   background-color: #ffff;
   padding: 20px;
}
.home footer article{
    margin: 10%  ;
}
.home footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color--celeste);
}
.home footer h4{
    color: var(--color--gris-oscuro);
    font-weight: 600;
    font-size: 16px;
}
.home footer p{
    font-size: 11px;
    color: var(--color--gris-oscuro);
    
}
.home .copy{

 text-align: left;
 
}
 /*----------- media querys ---------*/

     /*--Tablet*--*/
   
@media (min-width:361px) {
     /*---Header---*/
     .home header .contenedor-tablet{
        display: flex;
        align-items: center;
        max-width: 262px;
        justify-content: space-evenly;
    }
    .home header .contenedor-logo-search{     
            flex-wrap: nowrap; 
             justify-content: none;
             padding: 20px 0;     
    }
   
    .home header .contenedor-logo-search .Buscar-barra{
        height: 40px;
    
      }
      .home header .contenedor-logo-search form{
        display: flex;
        justify-content:none;
        align-items: center;
    }
    .home header .contenedor-logo-search input{
        width: 90%;
    }
    
    
     .home header nav{
        display: flex;
        justify-content: space-evenly;
    }
    .home header ul {
        padding: 10px 0;
        display: flex;
    }
    .home header ul li{
        padding: 0px 5px;
    }
    .home header .burger-menu{
        
       display:none;
    }

    /*---main---*/
    .home main h5{ 
        display: block;
        margin-top: 6px;
     }
    
    .home main article {
        margin-bottom: 10px;
        position: relative;
        height: 220px;
        width: 156px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
        
    .home main section .descripcion{
        padding: 8px;
      
    }
    .home main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 465px;
        margin: auto;
        padding-bottom: 22px;
    }
    .home main section div.descripcion i {
        display: block;
        font-size: 13px;
        padding: 5px;
        width: 25px;
        height: 25px;
        border: 1px solid var(--color-verde);
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 3px;
        top: 142px;
    }
    
    
}
@media (min-width:769px) {
    .home main {
        width: 95%;
        margin: 0 auto;
    }
    .home main section {
        max-width: 850px;  
    }

    home main article {
        height: 227px;
        width: 163px;
    }
    .home main h4{ 
        padding: 15px;
    }
}
